/* header default */
header{
    width: 1280px;
    margin: 0 auto;
    height: 0 auto;
}

/* header_inner : logo, search, cart, login */

.header_inner{
    margin: 10px;
    height: 70px;
}

.header_inner .logo_box, .header_inner .search_box{
    float: left;
}

.logo_box .logo_img{
    width: 180px;
}

.header_inner .search_box{
    border: 2px solid rgb(78, 78, 82);
    margin-left: 190px;
    width: 500px;
    border-radius: 25px;
    height: 45px;
    padding: 7px;
}

.header_inner .search_box .search_text{
    margin-left: 3px;
    margin-top: 2px;
    width: 450px;
    height: 40px;
    font-size: 1.2em;
    border: none;
    outline: none;
}

.header_inner .search_box .search_submit{
    width: 30px;
    height: 30px;
    position: absolute;
    background: url("./../img/search_icon.png");
    background-size: cover;
    border: 0;
    cursor: pointer;
    margin-top: 6px;
    margin-left: 5px;
}

.header_inner .user_contain{
    float: left;
    margin-left: 180px;
    margin-top: 6px;   
}


.header_inner .user_contain .user_cart{
    width: 45px;
    height: 45px;
    
}

.header_inner .user_contain a{
    text-decoration: none;
}

.header_inner .user_contain .user_sign{
    margin-left: 25px;
    width: 45px;
    height: 45px;
    
}

/* header_inner : logo, search, cart, login */

/* nav_box */

#nav_box{
  background: gray;
}

#nav_box .nav{
  list-style-type: none;
  width: 420px;
  height: 45px;
  padding: 6px 7px;
  margin: 20px auto;
  background: gray;
}

#nav_box .nav li{
  float: left;
  height: 45px;
  position: relative;
  margin: 2px 10px;
  padding: 0;
}

#nav_box .nav li a{
  display: block;
  font-size: 1.0em;
  padding: 10px 20px;
  color: white;
  margin: 0;
  text-decoration: none;
}

.nav li:hover > a{
  background: rgb(82, 80, 80);
  color: white;
  border-radius: 8px;
}

.nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 45px;
  left: 0;
  width: 150px;
  background: gray;
  border: 1px solid rgb(99, 99, 99);
  visibility: hidden;
}

.nav li:hover ul{
  visibility: visible;
}

.nav ul a{
  color: white;
}

.nav ul li:hover > a{
  background: rgb(82, 80, 80);
  color: white;
  border-radius: 4px;
}

/* nav_box */

/* main */
main{
  width: 1300px;
  margin: auto;
  height: auto;
}

iframe{
  border: 0;
  padding: 0;
}
/* main */

/* footer */
footer{
  height: 150px;
  background: rgb(194, 186, 186);
  text-align: center;
  padding-top: 100px;
  font-size: 1.5em;
  color: white;
}
/* footer */

